{% extends 'posts/base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}

{% block descript %}
<meta name="description" content="{{post.description}}">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/dracula.min.css">
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<div class="fixed-top sticky-top text-light" style="background-color: #35393d; padding: 45px 0px;">
    <h1 class="text-center">{{post.title}}</h1>
    <p class="m-auto text-center">
        Publicado em {{post.pub_date}}, por {{post.author.first_name}} {{post.author.last_name}}
    </p>
</div>

<div class="d-none d-xl-block m-3" id="sidebar">
    <div class="card">
        <div class="card-header bg-dark text-light text-center">
            Sumário
        </div>
        <ul class="list-group list-group-flush" id="sidebar-item">
        </ul>
    </div>
</div>

<section class="conteiner mt-5">
    <div class="col-10 col-md-4 mx-auto fs-5 text-black" id="principal-content">
        {{post.text | safe}}
    </div>
    <div class="col-10 col-md-4 mx-auto fs-6 mt-5 mb-2" id="end-content">
        {% if previous_post != None or next_post != None %}
            <h3 class="text-center">Continue lendo:</h3>
            <div class="d-flex flex-equal flex-wrap align-items-stretch justify-content-center">
                {% if previous_post != None %}
                    <div class="card col-12 col-xl-6 mt-1">
                        <div class="card-header bg-dark text-light text-center" style="height: 70px;">
                            <a href="{% url 'core:post_page' previous_post.slug %}" class="text-light fw-bold text-decoration-none">Anterior: {{previous_post.title}}</a>
                        </div>
                        <ul class="list-group list-group-flush p-2">
                            <a href="{% url 'core:post_page' previous_post.slug %}" class="text-black text-decoration-none">{{previous_post.description}}</a>
                        </ul>
                    </div>
                {% endif %}
                {% if next_post != None %}
                    <div class="card col-12 col-xl-6 mt-1">
                        <div class="card-header bg-dark text-light text-center" style="height: 70px;">
                            <a href="{% url 'core:post_page' next_post.slug %}" class="text-light fw-bold text-decoration-none">Proximo: {{next_post.title}}</a>
                        </div>
                        <ul class="list-group list-group-flush p-2">
                            <a href="{% url 'core:post_page' next_post.slug %}" class="text-black text-decoration-none">{{next_post.description}}</a>
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if suggestions != None %}
            <h3 class="text-center mt-2">Sugestões de Leitura</h3>
            <div class="col d-flex flex-equal flex-wrap">
                {% for suggestion in suggestions %}
                    <div class="card col-12 col-xl-6 mt-1">
                        <div class="card-header bg-dark text-light text-center" style="height: 70px;">
                            <a href="{% url 'core:post_page' suggestion.slug %}" class="text-light fw-bold text-decoration-none">{{suggestion.title}}</a>
                        </div>
                        <ul class="list-group list-group-flush p-2">
                            <a href="{% url 'core:post_page' suggestion.slug %}" class="text-black text-decoration-none">{{suggestion.description}}</a>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
<script src="{% static 'js/summary.js' %}"></script>
{% endblock %}