<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link text-bg-light text-dark {% if not posts.has_previous %}disabled{% endif %}"
            href="{% if posts.has_previous %}{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page={{posts.previous_page_number}}{% endif %}">Anterior</a>
        </li>
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link text-bg-light text-dark" href="{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page=1"    >
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link text-bg-light text-dark" href="{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page={{posts.previous_page_number}}">{{posts.previous_page_number}}</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link text-bg-light text-dark active" href="{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page={{posts.number}}">{{posts.number}}</a>
        </li>
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link text-bg-light text-dark" href="{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page={{posts.next_page_number}}">{{posts.next_page_number}}</a>
        </li>
        {% endif %}

        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link text-bg-light text-dark" href="{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page={{num_pages}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link text-bg-light text-dark {% if not posts.has_next %}disabled{% endif %}" href="{% if posts.has_next %}{{text_redirect}}?{% if search_text != None %}search={{search_text}}&{% endif %}page={{posts.next_page_number}}{% endif %}">Proximo</a>
        </li>
    </ul>
</nav>